@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #9e6e9e url('src/img.jpg') right center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #6e7c6557;
    backdrop-filter: blur(20px);
    color: #fff;
    max-height: 560px;
    width: 500px;
    overflow: hidden;
    border: 1px solid #ffffff94;
    border-radius: 12px;
    box-shadow: 0 0 10px #4921374d;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 14px;
    padding: 24px;
}

#check {
    display: none;
}

.login {
    position: relative;
    width: 100%;
    height: 100%;
}

.login .big {
    margin: 3% 0;
}

.big {
    color: #fff;
    font-size: 2.5em;
    font-weight: 500;
    justify-content: center;
    display: flex;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 5px 0px;
}

.input-box input {
    height: 100%;
    width: 100%;
    border: 1px solid #ffffff94;
    outline: none;
    background: transparent;
    border-radius: 40px;
    font-size: 15px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #ffffffc0;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.login .remember {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 15px 0px 5px;
    gap: 120px;
}

.checkbox {
    accent-color: #fff;
    margin-right: 7px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.register {
    background-color: #37392E;
    border-radius: 70% / 10%;
    transform: translateY(4%);
    transition: .6s ease-in-out;
}

.register .big {
    color: #df96a3;
    transform: scale(.6);
}

#check:checked ~ .register {
    transform: translateY(-70%);
    transition: 0.6s ease-in-out;
}

#check:checked ~ .register .big {
    transform: scale(1);
    margin: 5% 0;
}

#check:checked ~ .login .big {
    transform: scale(.8);
}

form button {
    width: 85%;
    height: 40px;
    margin: 12px auto 10%;
    color: #6e7743;
    background-color: #fff;
    font-size: 1em;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: .2s ease-in;
    box-shadow: 0 0 5px #4921374d;
}

form button:hover {
    background-color: #df96a3;
    color: #fff;
    transition: .3s;
}